$blue-120: #004980;
$boxs_color: #C2F5FF;
$blue-100: #0080C1;
$salad-60: #7AC100;

@font-face {
    font-family: StratosSkyeng;
    src: url(./fonts/stratosskyengweb-regular.woff2) format("woff2"), url(./fonts/stratosskyengweb-regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;

}

body{
    background: $blue-120;
    background-size: cover;
}

.difficulty{
    display: flex;
    max-width: 1024px;
    max-height: 774px;
    padding: 158px 272px 157px 272px;
    justify-content: center;
    align-items: center;

    &__box{
        width: 480px;
        height: 459px;
        flex-shrink: 0;
        border-radius: 12px;
        background: $boxs_color;
        display: flex;
        flex-direction: column;
        align-items: center;

        &_text{
            color: #004980;
            text-align: center;
            font-size: 40px;
            font-family: StratosSkyeng;
            line-height: 48px;
            padding-top: 52px;
        }


        &_difficulst{
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top: 48px;
            gap: 24px;


        }

        &_choice{
            display: flex;
            width: 97px;
            height: 98px;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;
        
            color: $blue-100;
            text-align: center;
            font-size: 64px;
            font-family: StratosSkyeng;
            line-height: 72px;
        
            border-radius: 12px;
            background: #FFF;
        }

        &_button{
            display: flex;
            width: 246px;
            height: 48px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 67px;
            flex-shrink: 0;

            border-radius: 12px;
            border: 0;
            background: $salad-60;

            color: #FFF;
            text-align: center;

            font-size: 24px;
            font-family: StratosSkyeng;
            line-height: 32px;
        }
    }
}


.difficulty__box_difficulst input[type="radio"] {
    display: none;
}